/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-background-color: #ffffff;
}
.button{
	-fx-background-color: #ffb700;
	-fx-min-width: 50;
	-fx-min-height: 50;
}
.TextField{
	-fx-background-color: #000000;
	
}

